.App {
  text-align: center;
}

a:link{
  color: blue;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#header-bar{
  display: none;
}

@media only screen and (max-width: 600px){
#header-bar{
  display: none;
}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url("https://i.imgur.com/dTJIOfy.jpg");
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
}

.mdl-layout__header-row .mdl-navigation__link{
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  margin-top: 10px;
}

@media only screen and (max-width: 600px){
  .mdl-layout__header-row .mdl-navigation__link{
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  margin-top: 5px;
  }
}

.mdl-layout__header-row .mdl-navigation__link:hover{
  color: goldenrod;
}

.mdl-layout__inner-container {
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 840px){
.mdl-cell {
    margin: 8px;
    /* width: calc(33.3333333333% - 16px); */
}
}
