#info-body{
    background: rgb(0, 0, 0, .8);
    font-family: 'Cinzel', serif;
    overflow-y: hidden;
    height: 100%;
}

#info-body h1{
    color: 	goldenrod;
    padding-top: 25px;
    text-align: center;
    font-family: 'Cinzel', serif;
    /* text-decoration: underline; */
    border-bottom: 1px solid goldenrod;
    padding-bottom: 3px;
}

#important-rule{
    color: goldenrod;
}

#general-info h4{
    color: 	white;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 25px;
}

#general-info-list{
    color: 	white;
    font-family: 'Cinzel', serif;
    text-align: left;
    margin-left: 25%;
    width: 50%;
}

#general-info-list ul{
    color: 	white;
    font-size: 18px;
}

#general-info-list li{
    margin: 1em;
}

#rules-body{
    margin-bottom: 50px;
}

#rules-body h4{
    color: 	white;
    font-family: 'Cinzel', serif;
    margin-top: 50px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
}

#rules-body h6{
    color: 	white;
    font-family: 'Cinzel', serif;
    text-align: center;
}

#rules-list{
    color: 	white;
    font-family: 'Cinzel', serif;
    text-align: left;
    margin-left: 25%;
    width: 50%;
}

#rules-list ul{
    color: 	white;
    font-size: 18px;
}

#rules-list li{
    margin: 1em 0;
}

.back-to-sign-up{
    padding-bottom: 25px;
}

@media only screen and (max-width: 600px){
    #general-info-list{
        font-family: 'Cinzel', serif;
        text-align: left;
        margin-left: 0%;
    }
    #rules-list{
        font-family: 'Cinzel', serif;
        text-align: left;
        margin-left: 0%;
    }
    #view-info-button{
        font-size: 12px;
    }
}
