#thanks-message{
    display: none;
    text-align: center;
    font-size: 48px;
    margin-top: 100px;
    font-family: 'Cinzel', serif;
    color: white;
}

#view-teams-thanks-button{
    display: none;
    margin-top: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}

#site-title {
    font-family: 'Cinzel', serif;
    font-size: 64px;
    line-height: 70px;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

#player-grid-div{
    align-content: center;
}

.site-title-block h1{
    font-family: 'Cinzel', serif;
    font-size: 72px;
    color: white;
}

.site-title-block p{
    margin-top: 10px;
    font-size: 24px;
}

.site-title-block h3{
    font-family: 'Cinzel', serif;
}


.site-title-block{
    text-align: center;
}

#player-grid{
    background: rgb(255, 255, 255, 0.9);
    padding: 30px 50px;
    font-family: 'Cinzel', serif;
    font-size: 24px; 
    color: black;  
    margin: 0% 25%; 
}


#team-name{
    font-size: 32px;
    border-bottom: rgb(0, 0, 0, .5) 2px solid;
    margin-bottom: 25px;
    line-height: 32px;
}

#player-name{
    line-height: 32px;
}


#view-teams-button{
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: black;
}

#view-info-button{
    font-size: 16px;
    font-weight: 500;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: black;
    margin-right: 25px;
}



#button-block{
    text-align: center;
}

#error-block{
    text-align: center;
}

#error-block p{
    color: red;
}

.button-block-thanks{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    #site-title {
        font-family: 'Cinzel', serif;
        font-size: 20px;
        line-height: 25px;
        color: white;        
    }
}

@media only screen and (max-width: 600px) {
    .site-title-block p{
        margin-top: 10px;
        font-size: 16px;
    }
    .site-title-block h3{
        font-size: 18px;
    }
    .site-title-block{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .site-title-block h1{
    font-family: 'Cinzel', serif;
    font-size: 36px;
    color: white;
    }
    #site-title {
        font-family: 'Cinzel', serif;
        font-size: 28px;
        line-height: 30px;
        color: white;   
    }
    #player-grid{
        background: rgb(255, 255, 255, 0.9);
        padding: 25px 30px;
        font-family: 'Cinzel', serif;
        font-size: 16px;    
        margin-bottom: 50px; 
    }
    #team-name{
        font-size: 20px;
        border-bottom: rgb(0, 0, 0, .5) 2px solid;
        margin-bottom: 25px;
    }
    #view-teams-button{
        font-size: 12px;
    }
}

@media only screen and (max-width: 840px) {
    #player-grid{
        margin: 25px 0px 75px 0px;
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    #site-title {
        font-family: 'Cinzel', serif;
        font-size: 48px;
        line-height: 50px;
        color: white;
    }
    .site-title-block p{
        margin-top: 10px;
        font-size: 20px;
    }

    #player-grid{
        background: rgb(255, 255, 255, 0.9);
        padding: 25px 30px;
        font-family: 'Cinzel', serif;
        font-size: 20px;   
        margin-bottom: 50px; 
    }
    #team-name{
        font-size: 24px;
        border-bottom: rgb(0, 0, 0, .5) 2px solid;
        margin-bottom: 25px;
    }
}
