#teams-body{
    background: rgb(0, 0, 0, .8);
    overflow-y: scroll;
    height: 100vh;
}

#teams-body h1{
    text-align: center;
    /* text-decoration: underline; */
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Cinzel', serif;
    color: 	goldenrod;
    padding-top: 25px;
    /* margin-top: 10px; */
    font-size: 72px;
    border-bottom: 1px solid goldenrod;
    padding-bottom: 3px;
}

#teams-body-inner{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    margin: 0 auto;
    width: 60%;
}

.back-to-sign-up{
   text-align: center;
   margin-bottom: 75px;
}

@media only screen and (max-width: 600px){
    .teams-body h1{
        padding-top: 50px;
        font-size: 64px;
    }
}